*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}
:root{
    --blue: #0D6EFD;
    --purple: #7952B3;
}
html{
    font-size: 16px;
}
/* SingIn Page's Styles */
.mainSignIn{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signInContainer{
    border: 1px solid white;
    border-radius: 5px;   
    box-shadow:3px 3px 3px 3px rgb(214, 214, 214);
    min-width: 400px ;
    width: 30%;
    height: 25rem;
}
.signInForm{
    margin: 3rem 3rem 5rem 3rem;
}

.continueBtn{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--blue) ;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-label,
.form-check-label,
.signUp,
.country{
    cursor: pointer;
}
.formBottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12rem;
}

/* SignUp Page's Styles */

.signUpContainer{
    margin-top: 6rem;
    display: flex;
    height: 100%;
    width: 100%;
}
.signUpForm{
    padding: 0rem 3rem;
}
.leftSection{
    width: 50%;
    padding-top: 7rem;
    margin-right: 12rem;
    margin-left:3rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.desc{
    color: gray;
    letter-spacing: 1px;
}
.accountBtn{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--blue) ;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 2px;
}
button{
    letter-spacing: 1px;
}
.signUpFormContainer{
    width: 50%;
    margin-right: 3rem;
    height: 100%;
    border: 1px solid white;
    border-radius: 5px;   
    box-shadow:3px 3px 3px 3px rgb(214, 214, 214);
}
.signUp,
.forgotPassword{
    color: var(--blue);
}
/* Responsive Settings */

@media screen and (max-width:600px) {
    .signInContainer{
        min-width: 0rem;
        width: 90%;
    }
    html{
        font-size: 0.9rem;
    }
    .formBottom{
        margin-top: 6rem;
    }
    #email,
    #Password,
    .signInBtntn{
        width: 100%;
    }
}
@media screen and (max-width:450px) {
    .signInContainer{
        width: 95%;
        height: 27rem;
    }
    html{
        font-size: 0.8rem;
    }
    .formBottom{
        margin-top: 4rem;
    }
    .signInForm{
        margin: 3rem 1rem 5rem 1rem;
    }
   
}
@media screen and (max-width:450px) {
   
    .signInForm{
        margin: 3rem 0.5rem 5rem 0.5rem;
    }
   
}

/* signUp Page Responsive */
@media screen and (max-width:1050px) {
    .leftSection{
        padding-top: 5rem;
        margin-right: 6rem;
    }
}
@media screen and (max-width:596px) {
    .signUpContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .leftSection{
        padding-top: 4rem;
        width: 80%;
        margin: auto;
    }
    .signUpFormContainer{
        width: 80%;
        margin: auto;
    }
    html{
        font-size: 0.9rem;
    }
    .signUpForm{
        padding: 0rem 1rem;
    }
}