* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
    margin: 50px;
    letter-spacing: 3px;
}

.main{
    width: 100%;
    height: 80%;
    display: flex;
}

.section-container{
    
    width: 50%;
}
form{
    width: 35%;
    margin-left: 15%;
    height: 100%;
}
h3{
    margin-left: 20px;
    letter-spacing: 2px;
    font-size: 1.8rem;
}

.mail{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}
.mail i{
    position: absolute;
    margin-top: 27px;
    margin-left: 15px;
    color: gray;
}

.mail #mail{
    width: 85%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;      
}

.phone{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    position: relative;
}

.phone i{
    position: absolute;
    margin-top: 27px;
    margin-left: 15px;
    color: gray;
}
.phone #phone{
    width: 85%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
}

.fullName{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}
.fullName i{
    position: absolute;
    margin-top: 27px;
    margin-left: 15px;
    color: gray;
}
.fullName #fullName{
    width: 85%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
}

.address{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.address i{
    position: absolute;
    margin-top: 27px;
    margin-left: 15px;
    color: gray;
}
.address #address{
    width: 85%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
}

.city{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.city i{
    position: absolute;
    margin-top: 27px;
    margin-left: 15px;
    color:gray
}
.city #city{
    width: 85%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
}

.country{
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.country i{
    position: absolute;
    margin-top: 27px;
    margin-left: 15px;
    color: gray;
}


.country #country{
    width: 150px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
}

.postcode{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.postcode i {
    position: absolute;
    margin-top: 25px;
    margin-left: 15px;
    color: gray;
}
.postcode #postcode{
    width: 400px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
}
.country_postcode{
    margin-left: 20px;
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly
}

.info{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit{
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.submit #button{
    width: 160px;
    height: 50px;
    color: white;
    background-color: #f2994a;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    cursor: pointer;
}

.submit #button:hover{
    background-color: #f77708
}

.background{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 85%;
    background-color:#EEEEEE;
    border-radius: 25px;
}

.first-image{
    display:flex;
}
.image{
    border-radius: 25px;
    margin: 40px;
    height: 13rem;
}

.product{
    margin-top: 50px;
    height: 11rem;
    
}
.product h3{
    margin-top: 1rem;
    color:#4E515A
}
.price{
    margin-top: 1rem;
    font-size: 2rem;
    margin-left: 17px;
    color:#F2994A
}

.span{
    color: gray;
    font-size: 1.6rem
    ;
}

.counter{
    margin-top: 2.4rem;
    margin-left: 17px;
}
.counter #content{
    width: 10rem;
    height: 2.5rem;
    font-size:2rem;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 70px;
}

.first-line, .second-line{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    border-top: 1px solid #bdbdbd;
    color: black;
    opacity: 0.8;
}

.shipping{
   letter-spacing: 0.3rem;
}

.total{
    letter-spacing: 0.3rem;
}





