body{
    font-size: 16px;
    max-width: 200vh;
}
.navbar{
    font-size: 1.5rem;
}

.right_nav{
    width:20%;
    margin-right: 3rem;
    text-decoration: none;
}
.section-text{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

