* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Nunito Sans', sans-serif;
}

html {
    height: 100vh;
    font-size: 16px;
}

body {
    height: 100%;


}

.main-container {
    width: 100%;
    margin: 0;
    display: flex;
    height: 100%;

}

.ps {
    width: 50%;
    margin: auto;
    height: 100%;
    background-image: url(./img/ps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
    transition-delay: 0.3s;
}

.ps-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(87, 84, 236, 0.7)
}

.ps-title {
    color: white;
    font-size: 3rem;
    margin-top: 11rem;
}

.ps-btn {
    margin-top: 4rem;
    width: 20%;
    height: 5%;
    border: 1px solid white;
    background: none;
    color: white;
    cursor: pointer;
}

.ps-btn:hover {
    border: none;
    background-color: #5754ec;
}

.xbox {
    width: 50%;
    height: 100%;
    margin: auto;
    background-image: url(./img/xbox.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transition: all 1s ease-in-out;
    transition-delay: 0.3s;
}

.xbox-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(43, 43, 43, 0.8);
}

.xbox-title {
    color: white;
    font-size: 3rem;
    margin-top: 11rem;
}

.xbox-btn {
    margin-top: 4rem;
    width: 20%;
    height: 5%;
    border: 1px solid white;
    background: none;
    color: white;
    cursor: pointer;
}

.xbox-btn:hover {
    border: none;
    background-color: #1c7a1c;
}


.active {
    background-repeat: no-repeat;
    background-size: cover;
    width: 150%;
}

.passive {
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

@media screen and (max-width:720px) {
    html {
        font-size: 14px;
    }

    .xbox-btn {
        width: 30%;
    }

    .ps-btn {
        width: 30%;
    }
    .ps-title,
    .xbox-title{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:500px){
    html{
        font-size: 10px;
    }
    .xbox-btn {
        width: 40%;
    }

    .ps-btn {
        width: 40%;
    }
}
@media screen and (max-width:330px){
    html{
        font-size: 7px;
    }
    .xbox-btn {
        font-size: 1rem;
    }

    .ps-btn {
        font-size: 1rem;
    }
}