@import 'colors';
@import 'media-queries';

%align-center{
    display: flex;
    align-items: center;
}


.navbar{
    background-color: $light;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px)/2);
    z-index: 10;
    position: relative;
    height: 80px;

    &__logo{
        color: $dark;
        text-decoration: none;
        font-size: 2em;
        margin-left: 1.5rem;
        cursor: pointer;
        @extend %align-center;
    }

    &__bars{
        opacity: 0;
    
        @include tablet{
            color:$dark;
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 2em;

        }
    }

    &__menu{
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 1.5rem;

        @include tablet {
            display: none;
        }

    &--links{
        color:$dark;
        @extend %align-center;
        justify-content: center;
        text-decoration: none;
        padding: 0 1rem;
    
        &:hover{
            color:$lime;
            transition: all 0.3s ease;
        }
    }
    }
    #button{
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 12px 24px;
        background-color: $lime;
        margin-left: 1rem;
        color: $light;

        &:hover{
            background-color: $orangeRed;
            transition: all 0.3s ease;
        }
    }

}